In [1]:
import pandas as pd, numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math

%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
# Read the dataset
df_raw = pd.read_csv( 'prices.csv', low_memory=False, parse_dates=[ 'Date' ] )

In [3]:
# First we replace 0 with NaNs, then we want to set landsize to the mean of their suburb
# Then drop any rows still Nan/infinite landsize
df_raw[ 'Landsize' ] = df_raw[ 'Landsize' ].replace( 0, np.nan )
df_raw[ 'Landsize' ] = df_raw[ 'Landsize' ].fillna( df_raw.groupby( 'Suburb' )[ 'Landsize' ].transform( 'mean' ) )
df_raw =  df_raw.dropna( subset=['Landsize' ] )

In [4]:
df_raw.drop( columns=[ 'Address', 'Method', 'SellerG', 'Propertycount', 'YearBuilt', 'CouncilArea', 'Regionname', 'Distance', 'Rooms' ], inplace=True )
df_raw

,Suburb,Type,Price,Date,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude
0,Abbotsford,h,NaN,2016-03-09,3067.0,2.0,1.0,1.0,126.000000,NaN,-37.80140,144.99580
1,Abbotsford,h,1480000.0,2016-03-12,3067.0,2.0,1.0,1.0,202.000000,NaN,-37.79960,144.99840
2,Abbotsford,h,1035000.0,2016-04-02,3067.0,2.0,1.0,0.0,156.000000,79.0,-37.80790,144.99340
3,Abbotsford,u,NaN,2016-04-02,3067.0,3.0,2.0,1.0,423.166667,NaN,-37.81140,145.01160
4,Abbotsford,h,1465000.0,2017-04-03,3067.0,3.0,2.0,0.0,134.000000,150.0,-37.80930,144.99440
5,Abbotsford,h,850000.0,2017-04-03,3067.0,3.0,2.0,1.0,94.000000,NaN,-37.79690,144.99690
6,Abbotsford,h,1600000.0,2016-04-06,3067.0,3.0,1.0,2.0,120.000000,142.0,-37.80720,144.99410
7,Abbotsford,h,NaN,2016-06-08,3067.0,3.0,2.0,2.0,400.000000,220.0,-37.79650,144.99650
8,Abbotsford,h,NaN,2016-06-08,3067.0,4.0,1.0,2.0,201.000000,NaN,-37.79950,144.99740
9,Abbotsford,h,NaN,2016-06-08,3067.0,3.0,2.0,1.0,202.000000,NaN,-37.79960,144.99890
10,Abbotsford,h,941000.0,2016-07-05,3067.0,2.0,1.0,0.0,181.000000,NaN,-37.80410,144.99530
11,Abbotsford,h,1876000.0,2016-07-05,3067.0,4.0,2.0,0.0,245.000000,210.0,-37.80240,144.99930
12,Abbotsford,u,NaN,2016-07-11,3067.0,2.0,2.0,1.0,4292.000000,82.0,-37.80780,144.99650
13,Abbotsford,h,NaN,2016-07-11,3067.0,6.0,2.0,0.0,230.000000,147.0,-37.80660,144.99360
14,Abbotsford,h,1636000.0,2016-08-10,3067.0,2.0,1.0,2.0,256.000000,107.0,-37.80600,144.99540
15,Abbotsford,h,1000000.0,2016-08-10,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
16,Abbotsford,t,745000.0,2016-08-10,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
17,Abbotsford,u,300000.0,2016-08-10,3067.0,1.0,1.0,1.0,423.166667,NaN,-37.80080,144.99730
18,Abbotsford,h,1097000.0,2016-08-10,3067.0,3.0,1.0,2.0,220.000000,75.0,-37.80100,144.99890
19,Abbotsford,u,542000.0,2016-08-10,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
20,Abbotsford,h,NaN,2016-10-12,3067.0,2.0,1.0,1.0,176.000000,80.0,-37.79980,144.99720
21,Abbotsford,u,760000.0,2016-10-12,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
22,Abbotsford,u,481000.0,2016-10-12,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
23,Abbotsford,u,700000.0,2016-12-11,3067.0,2.0,2.0,1.0,423.166667,NaN,-37.81100,145.00670
24,Abbotsford,h,1350000.0,2016-12-11,3067.0,3.0,2.0,2.0,214.000000,190.0,-37.80850,144.99640
25,Abbotsford,u,750000.0,2016-12-11,3067.0,2.0,2.0,1.0,423.166667,94.0,-37.80780,144.99650
26,Abbotsford,h,1985000.0,2016-12-11,3067.0,NaN,NaN,NaN,423.166667,NaN,-37.80840,144.99420
27,Abbotsford,u,500000.0,2016-12-11,3067.0,NaN,NaN,NaN,423.166667,NaN,NaN,NaN
28,Abbotsford,h,1172500.0,2016-08-13,3067.0,2.0,1.0,1.0,195.000000,NaN,-37.80840,144.99730
29,Abbotsford,u,441000.0,2016-05-14,3067.0,1.0,1.0,1.0,423.166667,NaN,-37.80160,144.99880
...,...,...,...,...,...,...,...,...,...,...,...,...
34827,West Footscray,h,1096000.0,2018-02-24,3012.0,4.0,1.0,3.0,368.000000,NaN,-37.79152,144.87277
34828,West Footscray,h,900000.0,2018-02-24,3012.0,3.0,1.0,2.0,460.000000,112.0,-37.80139,144.86458
34829,West Melbourne,u,NaN,2018-02-24,3003.0,NaN,NaN,NaN,371.620690,NaN,NaN,NaN
34830,West Melbourne,t,1150000.0,2018-02-24,3003.0,3.0,2.0,2.0,678.000000,NaN,-37.80787,144.94334
34831,Westmeadows,h,675000.0,2018-02-24,3049.0,4.0,2.0,5.0,560.000000,148.0,-37.68089,144.87403
34832,Westmeadows,u,689000.0,2018-02-24,3049.0,NaN,NaN,NaN,569.833333,NaN,NaN,NaN
34833,Wheelers Hill,h,936000.0,2018-02-24,3150.0,4.0,2.0,2.0,770.000000,NaN,-37.91637,145.18062
34834,Wheelers Hill,h,NaN,2018-02-24,3150.0,4.0,2.0,2.0,714.000000,NaN,-37.90287,145.19011
34835,Wheelers Hill,h,NaN,2018-02-24,3150.0,3.0,2.0,2.0,677.000000,NaN,-37.91905,145.19105
34836,Wheelers Hill,h,1400000.0,2018-02-24,3150.0,5.0,2.0,2.0,739.000000,293.0,-37.89304,145.18475
34837,Williamstown,h,2020000.0,2018-02-24,3016.0,5.0,3.0,2.0,450.000000,241.0,-37.86180,144.87855
34838,Williamstown,u,450000.0,2018-02-24,3016.0,NaN,NaN,NaN,379.634483,NaN,NaN,NaN
34839,Williamstown,u,475000.0,2018-02-24,3016.0,NaN,NaN,NaN,379.634483,NaN,NaN,NaN
34840,Williamstown,u,520000.0,2018-02-24,3016.0,NaN,NaN,NaN,379.634483,NaN,NaN,NaN
34841,Williamstown,h,940000.0,2018-02-24,3016.0,2.0,2.0,1.0,122.000000,NaN,-37.86396,144.90541
34842,Williamstown,h,1400000.0,2018-02-24,3016.0,3.0,2.0,NaN,325.000000,158.0,-37.86871,144.90124
34843,Williamstown North,h,830000.0,2018-02-24,3016.0,3.0,1.0,2.0,345.000000,NaN,-37.85545,144.88118
34844,Windsor,u,440000.0,2018-02-24,3181.0,NaN,NaN,NaN,397.185714,NaN,NaN,NaN
34845,Windsor,h,NaN,2018-02-24,3181.0,4.0,3.0,2.0,279.000000,237.0,-37.85418,144.99697
34846,Wollert,h,630000.0,2018-02-24,3750.0,4.0,2.0,2.0,388.000000,NaN,-37.60981,145.04135
34847,Wollert,h,500000.0,2018-02-24,3750.0,3.0,2.0,2.0,383.000000,118.0,-37.61940,145.03951
34848,Wollert,h,621000.0,2018-02-24,3750.0,4.0,2.0,2.0,375.000000,NaN,-37.61331,145.03412
34849,Wollert,h,570000.0,2018-02-24,3750.0,3.0,2.0,2.0,404.000000,158.0,-37.61031,145.03393
34850,Wollert,h,NaN,2018-02-24,3750.0,3.0,2.0,2.0,268.000000,135.0,-37.61094,145.04281
34851,Yarraville,h,1101000.0,2018-02-24,3013.0,3.0,1.0,NaN,288.000000,NaN,-37.81095,144.88516
34852,Yarraville,h,1480000.0,2018-02-24,3013.0,4.0,1.0,3.0,593.000000,NaN,-37.81053,144.88467
34853,Yarraville,h,888000.0,2018-02-24,3013.0,2.0,2.0,1.0,98.000000,104.0,-37.81551,144.88826
34854,Yarraville,t,705000.0,2018-02-24,3013.0,2.0,1.0,2.0,220.000000,120.0,-37.82286,144.87856
34855,Yarraville,h,1140000.0,2018-02-24,3013.0,NaN,NaN,NaN,353.381166,NaN,NaN,NaN
34856,Yarraville,h,1020000.0,2018-02-24,3013.0,2.0,1.0,0.0,250.000000,103.0,-37.81810,144.89351

In [5]:
# Remove any rows with NaN values
df = df_raw.dropna( how='any', axis=0 ).copy( )

In [6]:
# Set year,month,day individual columns and remove the date column.
(df[ 'year' ], df[ 'month' ], df[ 'day' ] ) = (df.Date.dt.year, df.Date.dt.month, df.Date.dt.day)
df.drop( columns='Date', inplace=True )

In [7]:
# Convert strings to categories (because the model only accepts numbers not strings)
typeCat = dict([(category, code) for code, category in enumerate( df[ 'Type' ].astype( 'category' ).cat.categories ) ] )
suburbCat = dict([(category, code) for code, category in enumerate( df[ 'Suburb' ].astype( 'category' ).cat.categories ) ] )

df['Type'] = df[ 'Type' ].astype( 'category' ).cat.codes
df['Suburb' ] = df[ 'Suburb' ].astype( 'category' ).cat.codes
# df['CouncilArea' ] = df[ 'CouncilArea' ].astype( 'category' ).cat.codes
# df['Regionname' ] = df[ 'Regionname' ].astype( 'category' ).cat.codes

(typeCat, suburbCat)

({'h': 0, 't': 1, 'u': 2},
 {'Abbotsford': 0,
  'Aberfeldie': 1,
  'Airport West': 2,
  'Albanvale': 3,
  'Albert Park': 4,
  'Albion': 5,
  'Alphington': 6,
  'Altona': 7,
  'Altona Meadows': 8,
  'Altona North': 9,
  'Ardeer': 10,
  'Armadale': 11,
  'Ascot Vale': 12,
  'Ashburton': 13,
  'Ashwood': 14,
  'Aspendale': 15,
  'Aspendale Gardens': 16,
  'Attwood': 17,
  'Avondale Heights': 18,
  'Bacchus Marsh': 19,
  'Balaclava': 20,
  'Balwyn': 21,
  'Balwyn North': 22,
  'Bayswater': 23,
  'Bayswater North': 24,
  'Beaconsfield': 25,
  'Beaconsfield Upper': 26,
  'Beaumaris': 27,
  'Bellfield': 28,
  'Bentleigh': 29,
  'Bentleigh East': 30,
  'Berwick': 31,
  'Black Rock': 32,
  'Blackburn': 33,
  'Blackburn North': 34,
  'Blackburn South': 35,
  'Bonbeach': 36,
  'Boronia': 37,
  'Botanic Ridge': 38,
  'Box Hill': 39,
  'Braybrook': 40,
  'Briar Hill': 41,
  'Brighton': 42,
  'Brighton East': 43,
  'Broadmeadows': 44,
  'Brookfield': 45,
  'Brooklyn': 46,
  'Brunswick': 47,
  'Brunswick East': 48,
  'Brunswick West': 49,
  'Bulleen': 50,
  'Bullengarook': 51,
  'Bundoora': 52,
  'Burnley': 53,
  'Burnside': 54,
  'Burnside Heights': 55,
  'Burwood': 56,
  'Burwood East': 57,
  'Cairnlea': 58,
  'Camberwell': 59,
  'Campbellfield': 60,
  'Canterbury': 61,
  'Carlton': 62,
  'Carlton North': 63,
  'Carnegie': 64,
  'Caroline Springs': 65,
  'Carrum': 66,
  'Carrum Downs': 67,
  'Caulfield': 68,
  'Caulfield East': 69,
  'Caulfield North': 70,
  'Caulfield South': 71,
  'Chadstone': 72,
  'Chelsea': 73,
  'Chelsea Heights': 74,
  'Cheltenham': 75,
  'Chirnside Park': 76,
  'Clarinda': 77,
  'Clayton': 78,
  'Clayton South': 79,
  'Clifton Hill': 80,
  'Coburg': 81,
  'Coburg North': 82,
  'Collingwood': 83,
  'Coolaroo': 84,
  'Craigieburn': 85,
  'Cranbourne': 86,
  'Cranbourne North': 87,
  'Cranbourne West': 88,
  'Cremorne': 89,
  'Croydon': 90,
  'Croydon Hills': 91,
  'Croydon North': 92,
  'Croydon South': 93,
  'Dallas': 94,
  'Dandenong': 95,
  'Dandenong North': 96,
  'Deepdene': 97,
  'Deer Park': 98,
  'Delahey': 99,
  'Derrimut': 100,
  'Diamond Creek': 101,
  'Diggers Rest': 102,
  'Dingley Village': 103,
  'Docklands': 104,
  'Doncaster': 105,
  'Doncaster East': 106,
  'Donvale': 107,
  'Doreen': 108,
  'Doveton': 109,
  'Eaglemont': 110,
  'East Melbourne': 111,
  'Edithvale': 112,
  'Elsternwick': 113,
  'Eltham': 114,
  'Eltham North': 115,
  'Elwood': 116,
  'Emerald': 117,
  'Endeavour Hills': 118,
  'Epping': 119,
  'Essendon': 120,
  'Essendon North': 121,
  'Essendon West': 122,
  'Fairfield': 123,
  'Fawkner': 124,
  'Ferntree Gully': 125,
  'Fitzroy': 126,
  'Fitzroy North': 127,
  'Flemington': 128,
  'Footscray': 129,
  'Forest Hill': 130,
  'Frankston': 131,
  'Frankston North': 132,
  'Frankston South': 133,
  'Gardenvale': 134,
  'Gisborne': 135,
  'Gisborne South': 136,
  'Gladstone Park': 137,
  'Glen Huntly': 138,
  'Glen Iris': 139,
  'Glen Waverley': 140,
  'Glenroy': 141,
  'Gowanbrae': 142,
  'Greensborough': 143,
  'Greenvale': 144,
  'Hadfield': 145,
  'Hallam': 146,
  'Hampton': 147,
  'Hampton East': 148,
  'Hampton Park': 149,
  'Hawthorn': 150,
  'Hawthorn East': 151,
  'Healesville': 152,
  'Heathmont': 153,
  'Heidelberg': 154,
  'Heidelberg Heights': 155,
  'Heidelberg West': 156,
  'Highett': 157,
  'Hillside': 158,
  'Hoppers Crossing': 159,
  'Hughesdale': 160,
  'Huntingdale': 161,
  'Hurstbridge': 162,
  'Ivanhoe': 163,
  'Ivanhoe East': 164,
  'Jacana': 165,
  'Kealba': 166,
  'Keilor': 167,
  'Keilor Downs': 168,
  'Keilor East': 169,
  'Keilor Lodge': 170,
  'Keilor Park': 171,
  'Kensington': 172,
  'Kew': 173,
  'Kew East': 174,
  'Keysborough': 175,
  'Kilsyth': 176,
  'Kings Park': 177,
  'Kingsbury': 178,
  'Kingsville': 179,
  'Knoxfield': 180,
  'Kooyong': 181,
  'Kurunjang': 182,
  'Lalor': 183,
  'Langwarrin': 184,
  'Laverton': 185,
  'Lilydale': 186,
  'Lower Plenty': 187,
  'Lysterfield': 188,
  'Maidstone': 189,
  'Malvern': 190,
  'Malvern East': 191,
  'Maribyrnong': 192,
  'McKinnon': 193,
  'Meadow Heights': 194,
  'Melbourne': 195,
  'Melton': 196,
  'Melton South': 197,
  'Melton West': 198,
  'Mentone': 199,
  'Mernda': 200,
  'Mickleham': 201,
  'Middle Park': 202,
  'Mill Park': 203,
  'Mitcham': 204,
  'Mont Albert': 205,
  'Montmorency': 206,
  'Montrose': 207,
  'Moonee Ponds': 208,
  'Moorabbin': 209,
  'Mooroolbark': 210,
  'Mordialloc': 211,
  'Mount Evelyn': 212,
  'Mount Waverley': 213,
  'Mulgrave': 214,
  'Murrumbeena': 215,
  'Narre Warren': 216,
  'New Gisborne': 217,
  'Newport': 218,
  'Niddrie': 219,
  'Noble Park': 220,
  'North Melbourne': 221,
  'North Warrandyte': 222,
  'Northcote': 223,
  'Notting Hill': 224,
  'Nunawading': 225,
  'Oak Park': 226,
  'Oakleigh': 227,
  'Oakleigh East': 228,
  'Oakleigh South': 229,
  'Officer': 230,
  'Ormond': 231,
  'Pakenham': 232,
  'Parkdale': 233,
  'Parkville': 234,
  'Pascoe Vale': 235,
  'Patterson Lakes': 236,
  'Plumpton': 237,
  'Point Cook': 238,
  'Port Melbourne': 239,
  'Prahran': 240,
  'Preston': 241,
  'Princes Hill': 242,
  'Research': 243,
  'Reservoir': 244,
  'Richmond': 245,
  'Riddells Creek': 246,
  'Ringwood': 247,
  'Ringwood East': 248,
  'Ringwood North': 249,
  'Ripponlea': 250,
  'Rosanna': 251,
  'Rowville': 252,
  'Roxburgh Park': 253,
  'Sandhurst': 254,
  'Sandringham': 255,
  'Scoresby': 256,
  'Seabrook': 257,
  'Seaford': 258,
  'Seaholme': 259,
  'Seddon': 260,
  'Skye': 261,
  'South Kingsville': 262,
  'South Melbourne': 263,
  'South Morang': 264,
  'South Yarra': 265,
  'Southbank': 266,
  'Spotswood': 267,
  'Springvale': 268,
  'Springvale South': 269,
  'St Albans': 270,
  'St Helena': 271,
  'St Kilda': 272,
  'Strathmore': 273,
  'Strathmore Heights': 274,
  'Sunbury': 275,
  'Sunshine': 276,
  'Sunshine North': 277,
  'Sunshine West': 278,
  'Surrey Hills': 279,
  'Sydenham': 280,
  'Tarneit': 281,
  'Taylors Hill': 282,
  'Taylors Lakes': 283,
  'Templestowe': 284,
  'Templestowe Lower': 285,
  'The Basin': 286,
  'Thomastown': 287,
  'Thornbury': 288,
  'Toorak': 289,
  'Travancore': 290,
  'Truganina': 291,
  'Tullamarine': 292,
  'Upwey': 293,
  'Vermont': 294,
  'Vermont South': 295,
  'Viewbank': 296,
  'Wallan': 297,
  'Wantirna': 298,
  'Wantirna South': 299,
  'Warrandyte': 300,
  'Warranwood': 301,
  'Waterways': 302,
  'Watsonia': 303,
  'Watsonia North': 304,
  'Wattle Glen': 305,
  'Werribee': 306,
  'West Footscray': 307,
  'West Melbourne': 308,
  'Westmeadows': 309,
  'Wheelers Hill': 310,
  'Whittlesea': 311,
  'Williams Landing': 312,
  'Williamstown': 313,
  'Williamstown North': 314,
  'Windsor': 315,
  'Wollert': 316,
  'Wonga Park': 317,
  'Wyndham Vale': 318,
  'Yallambie': 319,
  'Yarra Glen': 320,
  'Yarraville': 321})

In [8]:
# Split into training and validation sets
df[ 'Price' ] = np.log( df[ 'Price' ] )
y = df.pop( 'Price' ).to_frame( )
x = df

In [9]:
x_train, x_test, y_train, y_test = train_test_split( x.index, y, test_size=0.2 )
# --
x_train = df.loc[ x_train ]
x_test = df.loc[ x_test ]
y_train = y_train.values.ravel( )
y_test = y_test.values.ravel( )

In [10]:
def rmse( x, y ): return math.sqrt( ( ( x - y ) ** 2 ).mean( ) )

def print_score(m):
    res = [rmse(m.predict(x_train), y_train), rmse(m.predict(x_test), y_test),
                m.score(x_train, y_train), m.score(x_test, y_test)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [11]:
# Create a RandomForestRegressor model to train
mdl = RandomForestRegressor( n_jobs=-1, min_samples_leaf=3, n_estimators=150, oob_score=True )
# mdl = linear_model.LinearRegression( )
%time mdl.fit( x_train, y_train )
# mdl.score( x_train, y_train )
print_score( mdl )

CPU times: user 6.22 s, sys: 41.2 ms, total: 6.26 s
Wall time: 1.05 s
[0.10686743218101069, 0.19746976447034767, 0.9595935974512536, 0.865094650448287, 0.8709846265950575]

In [12]:
# View the predictions

y_pred = mdl.predict( x_test )

In [13]:
# The correct price is
math.e ** y_test[ 1 ]

1649999.9999999981

In [14]:
# The predicted price is
math.e ** y_pred[ 1 ]

1298168.4151669494

In [15]:
# df_raw

In [16]:
type( y_test )

numpy.ndarray

In [17]:
y_test

array([13.71015004, 14.31628585, 14.771022  , ..., 13.39999511,
       13.31298374, 13.96393056])

In [18]:
x_test.iloc[ 0 ]

Suburb             9.00000
Type               0.00000
Postcode        3025.00000
Bedroom2           3.00000
Bathroom           1.00000
Car                2.00000
Landsize         672.00000
BuildingArea     110.00000
Lattitude        -37.82650
Longtitude       144.84386
year            2017.00000
month              1.00000
day                7.00000
Name: 14232, dtype: float64

In [22]:
zz=[9.00000,
0.00000,
3025.00000,
3.00000,
1.00000,
2.00000,
672.00000,
110.00000,
-37.82650,
144.84386,
2017.00000,
1.00000,
7.00000]

S_ARGS = [ 'Suburb', 'Type', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Lattitude', 'Longtitude', 'year', 'month', 'day' ]

In [24]:
data = [ 'one', 'two', 'three', 'three' ]
index = [ 'one', 'two', 'three', 'four']
z = pd.Series( zz, index=S_ARGS )
z

Suburb             9.00000
Type               0.00000
Postcode        3025.00000
Bedroom2           3.00000
Bathroom           1.00000
Car                2.00000
Landsize         672.00000
BuildingArea     110.00000
Lattitude        -37.82650
Longtitude       144.84386
year            2017.00000
month              1.00000
day                7.00000
dtype: float64

In [ ]:
d = dict( enumerate( z.astype( 'category' ).cat.categories ) )

In [ ]:
dict([(category, code) for code, category in enumerate(z.astype( 'category' ).cat.categories)])

In [28]:
suburbCat[ 'Altona' ]

7